
.image-wrapper {
  width: 100%x;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  gap: 10px; 
}

.image-wrapper .cover-photo {
  width: 50%; 
  object-fit: cover; 
}

.two-column {
  display: flex;
  flex-direction: row;
}

.two-column>*:nth-child(1) {
  flex: 2;
}

.two-column>*:nth-child(2) {
  flex: 1;
}
